<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="\">Blogging App</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Posts", posts_path  %></li>
        <li><%= link_to "Users", users_path  %></li>
        <li><%= link_to "Hashtags", hashtags_path  %></li>
        <% if logged_in? %>
          <li><%= link_to "Create new post", new_post_path  %></li>
        <% end %>
        <li class="float-right">
          <% if logged_in? %>
          <div class="nav-user-logged_in">
            <%= link_to controller: "users", action: "show", id: current_user.id do %>
            <%= image_tag (current_user.picture),size: "50x50" %> <%= current_user.name %>
            <% end %>
            (<%= link_to "logout",logout_path,class: "button_1" %>)
          </div>

          <% else %>
          <%= link_to "/auth/facebook", {class:"fb-login-button"} do %>
                                              <i class="fa fa-facebook-square"></i> Login with facebook
                                              <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
